header {
    background-color: var(--color-primary);
    height: 60px;
    display: flex;
    align-items: center;
}

.dsmovie-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.dsmovie-nav-content h1{
    margin: 0px;
    font-weight: 700;
    font-size: 24px;
}

.dsmovie-contact-conteiner {
    display: flex;
    align-items: center;
}

.dsmovie-contact-link{
    margin: 0 0 0 10px;
    font-size: 14px;
}